<h1>New Student</h1>
    <%= form_for Student.new do |form| %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <%= form.submit %>
<%end%>