
<h1>Edit <%= @school_class.title %> </h1>
<%= form_for @school_class do |form| %>
<%= form.label :title %>
<%= form.text_field :title %>
<%= form.label :room_number %>
<%= form.text_field :room_number %>
<%= form.submit "Update Class"%>
<%end%> 