<h1>Edit <%= @schoolclass.title %> </h1>
    <%= form_for @schoolclass do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :room_number %>
    <%= form.text_field :room_number %>
    <%= form.submit "Update Class"%>
<%end%>